@if (!poll) {
    <p>Loading...</p>
} @else {
    <div class="p-2">
        <app-button [useIcon]="true" icon="arrow_back" (click)="back()" />
        <div class="flex min-h-[calc(100vh-70px)] items-center justify-center">
            <div
                class="w-full max-w-xl rounded-md border border-gray-300 p-5 shadow-md">
                <header>
                    <h1 class="font-bold">{{ poll.title }}</h1>
                    <small class="text-gray-400">{{ poll.description }}</small>
                    <div>
                        <small class="font-medium"
                            >{{ poll.totalVotes }} votes</small
                        >
                    </div>
                </header>
                <main
                    class="my-3 flex flex-col gap-1 overflow-hidden font-medium">
                    @for (
                        pollQuestion of poll.questions;
                        track pollQuestion.id
                    ) {
                        <app-poll-question
                            [pollIdContext]="poll.id"
                            [pollQuestion]="pollQuestion"
                            [userPoll]="userPoll"
                            (checkedEvent)="checkedEvent($event)" />
                    }
                </main>
                <footer class="mb-2 mt-10 text-center">
                    <small class="text-gray-400"
                        >This poll will be closed at
                        <time class="text-black">{{
                            poll.expiresAt! | customDate
                        }}</time
                        >.</small
                    >
                </footer>
            </div>
        </div>
    </div>
}
