<div class="poll-container">
    <header>
        <h2 class="text-lg font-bold">{{ pollData.title }}</h2>
        <div class="flex items-center gap-1.5">
            <small class="text-center font-medium text-black"
                >{{ pollData.totalVotes }} votes
            </small>
            &bull;
            <small class="text-gray-400">
                Created at:
                <time>{{ pollData.createdAt! | customDate }}</time>
            </small>
        </div>
    </header>
    <main class="my-3">
        <p class="text-sm text-gray-600">
            {{ pollData.description }}
        </p>
    </main>
    <footer class="flex w-[inherit] items-center justify-between">
        <a [routerLink]="['/poll', pollData.id]">View poll</a>

        <small class="text-gray-400"
            >Expires at:
            <time>{{ pollData.expiresAt! | customDate }}</time>
        </small>
    </footer>
</div>
